<!DOCTYPE html>
<link rel="stylesheet" href="/styles/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
</head>
<body>
    <h1>Calendar</h1>
    <h2>Upcoming Events:</h2>

    <img src="/images/August.png" alt="wolf" style="width: 450px; height: auto;">

    <ul>
        <% if(events.length === 0) { %>
            <li>No upcoming events.</li>
        <% } else { %>
            <% events.forEach(event => { %>
            <li><%= event %></li>
            <% }) %>
        <% } %>
    </ul>

    <a href="/">
        <button>Back to Home</button>
    </a>
</body>
</html>