<!DOCTYPE html>
<link rel="stylesheet" href="/styles/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <p>You need 15 hours of volunteering (not including penalty hours)</p>
    <p>Current Hours: <%= totalHours %></p>
    <br>
    <a href=https://sites.google.com/view/pwnhs/home target="_blank" >NHS Website</a>
    <br><br>
    <h3>Contact Us:</h3>
    <p>pwestnhs@gmail.com</p>
    <p>@planowestnhs</p>

    <a href="/logout">
        <button>Logout</button>
    </a>
    <br><br>
    <a href="/">
        <button>Back to Home</button>
    </a>
</body>
</html>